{% extends 'base.html' %}
{% block content %}
{% load static %}
    <section class="blogs-container">
      {% for blog in blogs %}
      <div class="blog-card">
        {% comment %} <img src= '{{blog.img}}' > {% endcomment %}
        <img class="project-image" src="{% static '/blogs.jpg' %}" alt="Project 3">
        <h5>{{ blog.title }}</h5>
        {% comment %} <a href="{% url 'blog_page' pk=blog.Title %}"> {% endcomment %}
          <button class="open-project-button">Open Blog</button>
        {% comment %} </a> {% endcomment %}
      </div>
      {% endfor %}
    </section>

{% endblock %}