{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="projects">

  <h2>Projects</h2>
  
  <div class="project-grid">    
    {% for project in projects %}
    <div class = "project-card">
        <div>
            <img class="project-image" src="{% static '/default-project.jpg' %}" alt="Project 3">
                    </div>
        <div class="project-info">
            <h4>{{ project.title }}</h4>
            <p> {{project.description}}</p>
            <a href="#" class="button">View Project</a>
        </div>
    </div>
    {% endfor %}
    </div>
</section>
{% endblock %}