{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="work-experience">
    <h2>Work Experience</h2>
    <ul class="timeline">
        <h3>Professional Experience</h3>
        <div class = "experience-container">
        {% for work in professional %}
        <div class = "experience-card">
            <i ><img  src="{% static '/orangewood.jpeg' %}" alt="orangewood"></i>
            <img  src='{{work.image.url}}' alt="image">
            {{work.image.url}}
            <h4 >{{work.company}} </h4>
            <div>
                <h5>Position : {{work.position}}</h5>
                <p>Mentor : {{work.mentor}}
                    {{work.mentor_position}}
                </p>
                <p>{{work.description}}</p>
                
            </div>
        </div>
    </a>
        {% endfor %}
    </div>
        
        <h3>Position of responsibility</h3>
        {% for work in por %}
        <div class = "company">
            <i ><img class = "company-icon" src="{% static '/orangewood.jpeg' %}" alt="orangewood"></i>
            <h4 class= "company-name" >{{work.company}} </h4>
            <div class="in-company-content">
                <h5>{{work.position}}</h5>
                <p class = "work-description">{{work.description}}</p>
            </div>
        </div>
        {% endfor %}

        </ul>
</section>

<script>

</script>
{% endblock %}